[Unit]
Description=Create sshd host keys

[Service]
Type=oneshot
ExecStart=/usr/sbin/sshd-hostkeys
ExecStartPost=/bin/ln -s /dev/null /etc/systemd/system/sshd-keys.service

[Install]
WantedBy=multi-user.target

